.swiper-notifications {
    border-radius: 6px;
    box-shadow: 2px 2px 6px 4px rgba(6, 23, 38, 0.12);
    @media(max-width:1023px) {
        max-width: 580px;
    }
    &__slide {
        background: var(--var-blue-bg);
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 50px 60px 22px 30px;
        @media(max-width:767px) {
            padding: 20px;
        }
    }

    &__slide-text {
        flex: 59%;
        max-width: 330px;
        @media(max-width:767px) {
            flex: 0 0 100%;
            max-width: none;
        }
        & span {
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.85);
            margin-bottom: 15px;
            display: block;
            @media(max-width:767px) {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 13px;
            }
        }
        & p {
            color: rgba(255, 255, 255, 0.75);
            @media(max-width:767px) {
                font-size: 13px;
                line-height: 15px;
            }
        }
    }

    &__slide-pic {
        @media(max-width:767px) {
            display: none;
        }
        & img {
            width: 100%;
        }
    }
    &.swiper-horizontal {
        & .swiper-notifications__pagination {
            position: absolute;
            top: 10px;
            right: 22px;
            left: auto;
            width: auto ;
            @media(max-width:767px) {
                top: 7px;
                right: 11px;
            }
        }
    }
    &__pagination {
        z-index: 1;
        & .swiper-pagination-bullet {
            background: #004383;
            opacity: 1;
            @media(max-width:767px) {
                width: 6px;
                height: 6px;
                min-width: 6px;
                min-height: 6px;
            }
        }
        & .swiper-pagination-bullet-active {
            background: #FFFFFF;
            opacity: 1;
        }
    }
}
[dark] {
    .swiper-notifications {
      box-shadow: 2px 2px 6px 4px rgba(6, 23, 38, 0.04);
    }
}