.input-password-w {
    position: relative;
    & input {
        padding: 12px 50px 12px 20px;
    }
    &_profile {
        display: flex;
        gap: 5px;
        align-items: center;
        & input {
            padding: 0;
        }
        & .eye {
            position: static;
            transform: translate(0,0);
        }
    }
}
.eye {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    display: none;
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        left: 0;
        top: 0;
        display: block;
        background: transparent;
        position: absolute;
    }
    & path {
        stroke: var(--var-svg-grey);
    }
    &_open {

    }
    &_close {
        & path {
            stroke: red;
        }
    }
    &.active {
        display: block;
    }
}