.footer {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0px 15px;
        flex-wrap: wrap;
        gap: 16px;
        @media(max-width:767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__rights {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: rgba(93, 90, 104, 0.8);
        @media(max-width:539px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__nav {
        display: flex;
        column-gap: 30px;
        row-gap: 12px;
        @media(max-width:767px) {
            flex-direction: column;
        }
    }

    &__nav-item {
        font-size: 13px;
        line-height: 15px;
        color: var(--var-lead-blue);
        @media(max-width:539px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}
[dark] {
    .footer {
        &__rights {
            color: rgba(208, 212, 241, 0.8);
        }
    }
}