.dashboard {
    display: flex;
    gap: 21px;
    @media(max-width:1023px) {
        flex-wrap: wrap;
    }
    &__left-col {
        flex: 0 0 54.6%;
        width: 54.6%;
        @media(max-width:1023px) {
            flex: 0 0 100%;
        }
    }
    &__right-col {
        flex: 1;
        @media(max-width:1023px) {
            flex: 0 0 100%;
        }
    }
}
