@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  &.fixed {
    overflow-y: hidden;
  }
}
input, button, textarea {
  font-family: 'Inter';
  letter-spacing: 0.02em;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;

}
a {
  color: var(--var-body-text);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  --width__nav-item: 0px;
}
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--var-body-text);
  height: 100%;
  letter-spacing: 0.02em;
  background: var(--var-body-bg);
}

.wrapper {
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media(max-width:1023px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &_tablet {
    @media(max-width:767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
input {
  background: 0 0;
  width: 100%;
  color: var(--var-lead-grey);
  font-size: 14px;
  line-height: 16px;
  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--var-placeholder-grey);
}
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 21px;
  border-radius: 5px;
  transition: .2s;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  position: relative;
  height: fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  @media(max-width:767px) {
    font-size: 13px;
    line-height: 15px;
  }
  cursor: pointer;
  &.hidden {
    display: none;
  }
  &_blue {
    background: #3a75b1;
    & .pulse {
      background-color: rgba(255,255,255, 0.5);
    }
    &:hover {
      background: var(--var-btn-hover-blue);
    }
  }
  &_grey {
    background: #E8E8EA;
    color: rgba(47, 43, 61, 0.7);
    &:hover {
      background: #d8d8dd;
    }
    & .pulse {
      background-color: rgba(255,255,255, 0.5);
    }
  }
  &_purple {
    background: var(--var-purple-bg);
    color: var(--var-purple-text);
    border-radius: 41px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.002em;
    padding: 8px 20px;
    width: fit-content;
    white-space: nowrap;
    &:hover {
      background: var(--var-purple-bg-hover);
    }
    & .pulse {
      background-color: rgba(255,255,255, 0.5);
    }
    @media(max-width:539px) {
      font-size: 10px;
      line-height: 12px;
      padding: 7px 14px;
    }
  }
}
//анимация клика по кнопке
 .pulse {
  border-radius: 50%;
  animation: pulse 0.7s ;
  transform: scale(0);
  position: absolute;
 }
 @keyframes pulse {
  to {
   transform: scale(2);
   background-color: #fff;
   opacity: 0;
  }
 }



[dark] {
  .btn {
    &_blue {
      background: #32679B;
    }
    &_grey {
    }
  }
}
.field {
  margin-bottom: 24px;
  @media (max-width: 539px) {
    margin-bottom: 21px;
}
}
.close {
  cursor: pointer;
  background: url(../img/icons/close_grey.svg) 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 10px;
  right: 7px;
}

.block {
  background: var(--var-block-bg);
  box-shadow: 2px 2px 6px 4px rgba(6, 23, 38, 0.04);
  border-radius: 6px;
}

[dark] {
  &.block {
      box-shadow: 2px 2px 6px 4px rgba(6, 23, 38, 0.04);
  }
  .close {
   & svg {
    & path {
      stroke: var(--var-svg-grey);
    }
   } 
  }
}
.btn-swiper_purple {
  border-radius: 50%;
  background: var(--var-purple-bg);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 5.2px;
    height: 9.16px;
    background: url(../img/icons/swiper-arrow.svg) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.btn-swiper_next {
  transform: translate(0, -50%) rotate(180deg);
  right: 0;
  left: auto;
}
[dark] {
  .btn-swiper_purple {
    &::after {
      background: url(../img/icons/swiper-arrow_dark.svg) 0 0 no-repeat;
    }
  }
}
